.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: large;
}

.optionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.themeSelector,
.soundToggle {
  font-size: large;
}
