.container {
  display: flex;
  flex-direction: column;
  font-size: large;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.optionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.themeSelector {
  font-size: smaller;
}

.label {
  width: 100%;
}
