.container {
  display: flex;
  flex-direction: column;
  font-size: large;
  color: var(--global-text-color);
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.optionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.label {
  width: 100%;
  font-size: medium;
  margin-bottom: 5px;
}

.themeSelector {
  font-size: large;
  color: var(--global-text-color);
}
