@use "./consts";

:root {
  --global-primary-color: dodgerblue;
  --global-background-color: rgb(30, 30, 30);
  --global-text-color: white;
  --global-button-background-color: rgb(46 46 46);
  --global-button-background-color-disabled: dimgray;

  color-scheme: dark;
  font-family: system-ui, sans-serif;
  height: 100%;
  touch-action: none;
  background-color: var(--global-background-color);

  &[data-theme="light"] {
    --global-primary-color: royalblue;
    --global-background-color: white;
    --global-text-color: black;
    --global-button-background-color: rgb(239, 239, 239);
    --global-button-background-color-disabled: darkgrey;

    color-scheme: light;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: grid;
  grid-template-areas:
    "#{consts.$grid-menu}"
    "#{consts.$grid-main}";
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  gap: 2%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;

  padding-top: max(1%, env(safe-area-inset-top));
  padding-bottom: max(1% + env(safe-area-inset-bottom));
  padding-right: max(2% + env(safe-area-inset-right));
  padding-left: max(2% + env(safe-area-inset-left));

  @media (orientation: portrait) {
    grid-template-areas: "#{consts.$grid-main} #{consts.$grid-menu}";
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr;

    padding-top: max(5% + env(safe-area-inset-top));
    padding-bottom: max(5% + env(safe-area-inset-bottom));
  }

  @media (display-mode: standalone) {
    height: 100vh;
  }
}

button {
  user-select: none;
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

div {
  display: flex;
}
