@use "./consts";
@use "./themes";

:root {
  color-scheme: light dark;
  touch-action: pinch-zoom;
  @media (prefers-color-scheme: "dark") {
    @include themes.dark();
  }

  @media (prefers-color-scheme: "light") {
    @include themes.light();
  }
}

body {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#root {
  display: grid;
  grid-template-areas:
    "#{consts.$grid-menu}"
    "#{consts.$grid-main}";
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  gap: 10px;
  width: 100dvw;
  height: 100dvh;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;

  padding-top: calc(5% + env(safe-area-inset-top));
  padding-bottom: calc(5% + env(safe-area-inset-bottom));
  padding-right: calc(2% + env(safe-area-inset-right));
  padding-left: calc(2% + env(safe-area-inset-left));

  @media (orientation: "portrait") {
    grid-template-areas: "#{consts.$grid-main} #{consts.$grid-menu}";
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr;
  }
}

button {
  user-select: none;
}

div {
  display: flex;
}

.light {
  @include themes.light();
}

.dark {
  @include themes.dark();
}
