.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: max(30px, env(safe-area-inset-bottom));
  padding-top: 7px;
  padding-left: max(30px, env(safe-area-inset-left));
  padding-right: max(30px, env(safe-area-inset-right));

  @media (orientation: "portrait") {
    align-items: flex-start;
  }
}

.title {
  margin-bottom: 40px;
}
