@use "../../../styles/consts";

.label {
  user-select: none;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  color: var(--text-color);
}

.dialog {
  display: grid;
  grid-template-columns: 1fr;

  gap: 0;
  user-select: none;
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 50;
  height: min(100%, 80vh);
  max-height: max-content;
  max-width: 500px;
  margin: auto;
  flex-direction: column;
  border-color: hsl(258, 79%, 74%);
  background-color: var(--background-color);

  padding-top: 7px;
  padding-left: max(30px, env(safe-area-inset-left));
  padding-right: max(30px, env(safe-area-inset-right));

  &::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    height: 50%;
    background-color: inherit;

    @media (orientation: portrait) {
      top: 100%;
    }

    @media (orientation: landscape) {
      bottom: 100%;
    }
  }

  @media (orientation: landscape) {
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas:
      "#{consts.$settings-grid-header}"
      "#{consts.$settings-grid-content}"
      "#{consts.$settings-grid-notch}";

    top: 0;
    border-bottom-width: 4px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-bottom: max(15px, env(safe-area-inset-bottom));
  }

  @media (orientation: portrait) {
    grid-template-rows: max-content max-content 1fr;
    grid-template-areas:
      "#{consts.$settings-grid-notch}"
      "#{consts.$settings-grid-header}"
      "#{consts.$settings-grid-content}";

    bottom: 0;
    border-top-width: 4px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-bottom: max(20px, env(safe-area-inset-bottom));
  }

  &[data-transitioning] {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
    transition-duration: 500ms;
  }
}

.overlay {
  position: fixed;
  inset: 0px;
  z-index: 40;

  &[data-transitioning] {
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
    transition-duration: 500ms;
  }
}

.notch {
  grid-area: #{consts.$settings-grid-notch};
  margin-top: 0.5rem;
  height: 0.25rem;
  width: 2.5rem;
  align-self: center;
  border-radius: 9999px;
  background-color: var(--text-color);
  margin-right: auto;
  margin-left: auto;

  @media (orientation: landscape) {
    margin-top: 30px;
  }
}

.header {
  grid-area: #{consts.$settings-grid-header};
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  position: relative;
  right: -26px;
  will-change: filter;
  width: min-content;
  height: min-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: xx-large;
  color: var(--text-color);
  transition: filter 0.2s;

  &:focus {
    outline: none;
  }

  &:active {
    filter: brightness(80%);
  }
}

.contentContainer {
  overflow: scroll;
  height: inherit;
}
