@use "../../styles/consts";

.container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  grid-area: #{consts.$grid-menu};
  justify-content: space-around;
  height: 100%;

  @media (orientation: "portrait") {
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
}

.iconButton {
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  width: max(50px, 3vw);
  height: max(50px, 3vw);
  border: none;
  border-radius: 100%;
  transition: all 0.1s;

  @media (orientation: "portrait") {
    font-size: xx-large;
  }

  @media (hover: hover) {
    &:not([disabled]):hover {
      background-color: var(--button-hover-color);
    }
  }

  &:active {
    filter: brightness(85%);
  }
}

.settingsModal {
  overflow: clip;
  touch-action: none;
  display: block;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  inset: 0;
  padding: 0;
  border: none;
  border-radius: 30px;
  box-shadow: 1px 4px 15px -11px rgba(0, 0, 0, 0.75);

  &[open] {
    opacity: 100;
    transform: none;
  }

  @media (orientation: "portrait") {
    margin-bottom: 0;
    max-width: 100vw;
    width: 100vw;
    transform: translateY(100%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &[open] {
      box-shadow: -7px 11px 57px 0 rgba(0, 0, 0, 0.75);
    }
  }
}
