@use "../../styles/consts";

$drop-shadow-light: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.3));
$drop-shadow-dark: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.85));

.container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  grid-area: #{consts.$grid-menu};
  justify-content: space-around;
  height: 100%;

  @media (orientation: portrait) {
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
}

.iconButton {
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  width: max(50px, 3vw);
  height: max(50px, 3vw);
  border: none;
  border-radius: 100%;
  transition: filter 0.2s;
  color: var(--primary-color);
  will-change: filter;

  filter: #{$drop-shadow-light} brightness(1);

  @media (prefers-color-scheme: dark) {
    filter: #{$drop-shadow-dark} brightness(1);
  }

  @media (orientation: portrait) {
    font-size: xx-large;
  }

  @media (hover: hover) {
    &:not([disabled]):hover {
      filter: #{$drop-shadow-light} brightness(1.4);

      @media (prefers-color-scheme: dark) {
        filter: #{$drop-shadow-dark} brightness(1.4);
      }
    }
  }

  &:not([disabled]):active {
    filter: brightness(85%);
  }

  &:disabled {
    color: var(--disabled-color);
    filter: drop-shadow(0px 0px 0px transparent);
  }
}
