@use "../../styles/consts";

.container {
  display: flex;
  flex-direction: row;
  padding: 0;
  grid-area: #{consts.$grid-menu};
  justify-content: space-around;
  height: 50%;

  @media (orientation: "portrait") {
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
}

.iconButton {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  aspect-ratio: 1;

  @media (orientation: "portrait") {
    width: 100%;
  }
}

.settingsModal {
  display: block;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  inset: 0;
  padding: 0;

  &[open] {
    opacity: 100;
  }
}
