.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.contentContainer {
  display: flex;
  margin: 0;
  padding: 0;
}

.closeButton {
  display: flex;
  font-size: x-large;
  align-self: center;
  will-change: filter;
  height: min-content;
  width: min-content;
  color: var(--toast-close-button-color);
  filter: brightness(1);
  transition: filter 0.2s;
}

:root[data-theme="light"] {
  .closeButton {
    --toast-close-button-color: rgb(180, 180, 180);

    &:hover {
      filter: brightness(0.85);
    }
  }
}

:root[data-theme="dark"] {
  .closeButton {
    --toast-close-button-color: rgb(93, 93, 93);

    &:hover {
      filter: brightness(1.4);
    }
  }
}
