@use "../../styles/consts";

.container {
  grid-area: #{consts.$grid-main};
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  height: 100%;

  @media (orientation: portrait) {
    flex-direction: column-reverse;
    padding: 0;
    height: 100%;
    justify-content: space-between;
  }
}

.clockSwitch {
  font-size: 6vw;
  font-weight: bold;
  font-family: monospace;
  width: 40vw;
  min-width: max-content;
  height: min(20vw, 100%);
  min-height: max-content;
  color: var(--primary-color);
  background-color: var(--clock-switch-background-color);
  border-radius: 10px;
  transition: all 0.1s;
  box-shadow: var(--clock-switch-box-shadow-landscape);

  &:active {
    color: var(--primary-color);
    background-color: var(--clock-switch-background-color);
  }
  &:disabled {
    color: var(--button-background-color-disabled);
    background-color: var(--clock-switch-background-color-disabled);
    box-shadow: var(--clock-switch-box-shadow-landscape-disabled);
  }

  time {
    display: flex;
    flex-direction: column;
  }

  @media (orientation: portrait) {
    width: 100%;
    height: 100%;
    font-size: 12vw;
    box-shadow: var(--clock-switch-box-shadow-portrait);

    &:disabled {
      box-shadow: var(--clock-switch-box-shadow-portrait-disabled);
    }

    &:nth-child(2) {
      time {
        transform: scale(-1);
      }
    }
  }
}

.defeatedPlayer {
  color: red;

  &:disabled {
    color: red;
  }
}

html[data-theme="light"] {
  .clockSwitch {
    --clock-switch-background-color: rgba(239, 239, 239, 0.3);
    --clock-switch-background-color-disabled: rgb(239, 239, 239);
    --clock-switch-box-shadow-color: rgba(0, 0, 0, 0.4);

    --clock-switch-box-shadow-landscape: -5px 1px 3px 0px var(--clock-switch-box-shadow-color);
    --clock-switch-box-shadow-landscape-disabled: -1px 0px 2px 0px var(--clock-switch-box-shadow-color);
    --clock-switch-box-shadow-portrait: -1px 5px 3px 0px var(--clock-switch-box-shadow-color);
    --clock-switch-box-shadow-portrait-disabled: 0px 1px 2px 0px var(--clock-switch-box-shadow-color);
  }
}

html[data-theme="dark"] {
  .clockSwitch {
    --clock-switch-background-color: rgb(61 61 61);
    --clock-switch-background-color-disabled: rgb(46 46 46);
    --clock-switch-box-shadow-color: rgba(0, 0, 0, 0.75);

    --clock-switch-box-shadow-landscape: -7px 1px 5px 0px var(--clock-switch-box-shadow-color);
    --clock-switch-box-shadow-landscape-disabled: -1px 0px 2px 0px var(--clock-switch-box-shadow-color);
    --clock-switch-box-shadow-portrait: -1px 7px 5px 0px var(--clock-switch-box-shadow-color);
    --clock-switch-box-shadow-portrait-disabled: 0px 1px 2px 0px var(--clock-switch-box-shadow-color);
  }
}
