@use "../../styles/consts";

.container {
  grid-area: #{consts.$grid-main};
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  height: 100%;

  @media (orientation: portrait) {
    flex-direction: column-reverse;
    padding: 0;
    height: 100%;
    justify-content: space-between;
  }
}

.clockSwitch {
  font-size: 6vw;
  font-weight: bold;
  font-family: monospace;
  width: 40vw;
  min-width: max-content;
  height: min(20vw, 100%);
  min-height: max-content;
  color: var(--primary-color);
  background-color: var(--clock-switch-background-color);
  border: none;
  border-radius: 10px;
  box-shadow: -7px 1px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.1s;

  &:active {
    color: var(--primary-color);
    background-color: var(--clock-switch-background-color);
  }
  &:disabled {
    color: var(--disabled-color);
    background-color: var(--clock-switch-disabled-background-color);
    box-shadow: -1px 0px 2px 0px rgba(0, 0, 0, 0.75);
  }

  // &:not([disabled]):active {
  //   background-color: rgb(82 82 82);
  // }

  @media (orientation: portrait) {
    width: 100%;
    height: 100%;
    font-size: 12vw;
    box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.75);

    &:disabled {
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
    }

    &:nth-child(2) {
      transform: scale(-1);
      box-shadow: 1px -7px 5px 0px rgba(0, 0, 0, 0.75);

      &:disabled {
        box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.75);
      }
    }
  }
}

.defeatedPlayer {
  color: red;

  &:disabled {
    color: red;
  }
}
