.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: large;
}

.settingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;

  label,
  input {
    width: 100%;
  }
}

.input {
  font-size: large;
  text-align: right;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }
}
