.container {
  display: flex;
  flex-direction: column;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: large;
  padding-top: 15px;
  padding-bottom: 15px;
}

.settingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.legend {
}

.label {
  width: 100%;
}

.input {
  width: 100%;
  font-size: large;
  text-align: right;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }
}
