.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textContainer {
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 10px;
}

.text {
}

.button {
  appearance: none;
  background-color: var(--clock-switch-background-color);
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: small;
}
